div.btn-group button {
	background-color: #4CAF50;
	border: 1px solid green;
	color: white;
	padding: 10px, 24px;
	cursor: pointer;
	width: 200px;
	display: block;
	line-height: 20px;
}

div.btn-group button:not(:last-child) {
	border-bottom: none;
}

div.btn-group button:hover {
	background-color: #3e8e41;
}