.vertical-menu {
    width: 180px;
}

.vertical-menu a{
    background-color: #eee;
    color: black;
    text-align: center;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;  
    color: white;
}
